<%- include("header") -%>

<h2>About Us</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at quos illo vitae, id molestiae cum distinctio hic ut nobis?</p>

<%- include("footer") -%>
